<div class="w3-main">
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ site_counter }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Site Counter:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ unique_visitor }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Unique Visitor:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ registered_user }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Registered Users:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ unregistered_user }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Unregistered Users:'|t }}</h4>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ blocked_user }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Blocked Users:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-database w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ published_nodes }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Published Nodes:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-database w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ unpublished_nodes }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Unublished Nodes:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-calendar w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ counter_since }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Counter Since:'|t }}</h4>
      </div>
    </div>
  </div>
  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left"><i class="fa fa-clock-o w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ statistic_today }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'Today:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left"><i class="fa fa-sun-o w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ statistic_week }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'This week:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-teal w3-padding-16">
        <div class="w3-left"><i class="fa fa-calendar w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ statistic_month }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'This month:'|t }}</h4>
      </div>
    </div>
    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-calendar-o w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3>{{ statistic_year }}</h3>
        </div>
        <div class="w3-clear"></div>
        <h4>{{ 'This year:'|t }}</h4>
      </div>
    </div>
  </div>
</div>
